{% set items = data.items %}

<!-- Equipment -->
<div id="{{ getValidCodeBlock(data.entity.name) }}">
    <div class="content-lg container">
        {% include '/paths/header_block.html.twig' with {'data': block} %}
        <!-- Masonry Grid -->
        {% if items|length > 0 %}
            <div class="masonry-grid row">
                <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                {% for item in items|slice(0, 3) %}
                    {% if item.allotted == false %}
                        <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4{% if loop.first %} sm-margin-b-30{% endif %}">
                            <div class="{% if items|length > 2 and loop.last %}margin-t-60 {% endif %}margin-b-60">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.description }}</p>
                            </div>
                            <img class="full-width img-responsive wow fadeInUp" src="{{ asset(item.imageUrl) }}" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".{{ loop.index + 2 }}s">
                        </div>
                    {% else %}
                        <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4{% if loop.first %} sm-margin-b-30{% endif %}">
                            <div class="margin-b-60">
                                <img class="full-width img-responsive wow fadeInUp" src="{{ asset(item.imageUrl) }}" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".{{ loop.index + 2 }}s">
                            </div>
                            <h2>{{ item.title }}</h2>
                            {% if item.description %}
                                <p>{{ item.description }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End Masonry Grid -->
        {% endif %}
    </div>
</div>
<!-- End Equipment -->