<table style = "width: 100% !important;background: #efefef;height: 100%;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;">
    <tr>
        <td style = "
            display: block !important;
            clear: both !important;
            margin: 0 auto !important;
            max-width: 580px !important;
        ">
            <!-- Message start -->
            <table style = "
                width: 100% !important;
                border-collapse: collapse;
            ">
                <tr>
                    <td align="center" style = "
                        padding: 70px 0;
                        background: rgb(18, 43, 46);
                        color: white;
                    ">
                        <h1 style = "max-width: 90%;margin: 0 auto!important;text-transform: uppercase;line-height: 1.25;font-size: 30px;">Заказ #{{ id }}</h1>
                    </td>
                </tr>
                <tr>
                    <td style = "background: white;padding: 30px 35px;">

                        <h3 style="font-size: 22px;color: rgb(18, 43, 46);">Приветствуем, {{ name }}.</h3>

                        <p style = "font-size: 16px!important;font-weight: normal;margin-bottom: 20px;color: rgb(18, 43, 46);">Вы успешно совершили заказ на сайте
                            <a href="{{ absolute_url(path('main')) }}" style = "color: #30a5ff;text-decoration: none;"><strong>arendapsvtb.by</strong></a>. Данные заказа:</p>
                        <p style = "font-size: 16px!important;font-weight: normal;margin-bottom: 20px;color: rgb(18, 43, 46);"><strong>Дата заказа:</strong> {{ date }}</p>
                        <hr style = "border-color: #edf0f2!important;">
                        <p style = "font-size: 16px!important;font-weight: normal;margin-bottom: 20px;margin-top: 20px;color: rgb(18, 43, 46);"><strong>Девайс:</strong> {{ device }}</p>
                        <p style = "font-size: 16px!important;font-weight: normal;margin-bottom: 20px;color: rgb(18, 43, 46);"><strong>Кол-во джойстиков:</strong> {{ countJoystick }}</p>
                        <p style = "font-size: 16px!important;font-weight: normal;margin-bottom: 20px;color: rgb(18, 43, 46);"><strong>Продолжительность:</strong> {{ formatWord(days, ['день', 'дня', 'дней']) }}</p>
                        <hr style = "border-color: #edf0f2!important;">
                        <p style = "font-size: 18px!important;font-weight: normal;margin-bottom: 20px;margin-top: 20px;color: rgb(18, 43, 46);"><strong>Стоимость:</strong> {{ price }} руб.</p>

                        {% include('/paths/mail_footer.html.twig') %}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>